SECRET_KEY=django-insecure-0-s$^idhz%0_$*0n83(i!7%j88o$$8g3yt@8@+q_621r)6zi=4
DEBUG=True
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=postgres
POSTGRES_DB=
POSTGRES_PASSWORD=
PG_HOST=postgres-db
PG_PORT=5432
SIGNING_KEY=da68582ad795f3411232e11ef26648d8014902e64a7ff189e76ac0a6d099c043